# Node modules
node_modules/

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*
seed.log

# Env
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Prisma
.prisma/client

# Test coverage
coverage/

# Typescript
*.tsbuildinfo